@model List<MotorLine.ViewModel.AdsShowVM>





<div class="sub-page">
    <div class="sub-page-left">
        <h2 class="p4">All Ads</h2>
        @if (!Model.Any())
        {
            <h2>There is no Ads</h2>
        }
        else{
        @foreach (var item in @Model)
        {
            <div class="box-6 top-2">
                    <img src="~/imgs/@item.Photo1" alt="Basic car image" style="width:270px;height:187px" class="img-indent-2" />
                <div class="extra-wrap">
                    <p class="text-2">@item.Title</p>
                    <p class="upper">@item.Description</p>

                        <a asp-controller="Ads" asp-action="Details" asp-route-id="@item.AdID" class="actions-btns">View All Details</a>
                        <a asp-controller="Ads" asp-action="Edit" asp-route-id="@item.AdID" class="actions-btns">Edit</a>
                        <a asp-controller="Ads" asp-action="Delete" asp-route-id="@item.AdID" class="actions-btns delete">Delete</a>
                </div>
            </div>
        }
        }

    </div>

    <div class="sub-page-right">
        <div class="shadow box-7 bot-2">
            <h2 class="p2">Create New Ad?</h2>
            <button class="create-btn">
                <a asp-controller="Ads" asp-action="Create" class="text-3  "> Click here</a>
            </button>
         
            <p class="upper">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <img src="images/page3-img5.jpg" alt="website template image">
            <p class="upper">Vestibulum ante ipsum primis in faucibus orci luctus:</p>

        </div>
       
    </div>
</div>